 <div class="container menu">
    <nav class="nabvar mt-3">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">
            <i class="fas fa-home ml-5"></i> HOME</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="!user; else login;">

        <li class="nav-item">
          <a class="nav-link" routerLink="auth/user-login">
            <i class="fas fa-sign-in-alt"></i> INGRESAR</a>
        </li>
      </ul>

      <!--TEMPLATE PARA LOGIN-->
      <ng-template #login>
        <ul class="navbar-nav">
          <li class="nav-item" >
            <a class="nav-link" routerLink="empleados/administrar">
              <i class="fas fa-users-cog"></i> ADMINISTRAR</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="salir()">
              <i class="fas fa-sign-in-alt"></i> @{{user.nombre}}/SALIR</a>
            </li>
        </ul>
      </ng-template>
      <!--FIN TEMPLATE-->
    </nav>
  </div>
