.contenedor-menu {
    border: black 1px solid;
    width: 400px;
    height: 350px;
}

.titulo-login {
    text-align: center;
    margin-top: 20px;
}

.btn-ingresar {
    border: black 1px solid;
    background-color: rgb(160, 88, 226);
}

.btn-cancelar {
    border: black 1px solid;
    background-color: gray;
}

.btn-group {
    width: 100%;
}
